<p id="notice"><%= notice %></p>
<div class="articles-wrap">
  <div class="article-show">
    <%= image_tag(@article.image_url, class: "img-responsive article-media") %>
    <% if @article.video_url.present? %>
      <div class="video-container">
        <iframe class="article-video" src="<%= @article.video_url %>" frameborder="0" allowfullscreen></iframe>
      </div>
    <% end %>
    <h1><%= @article.title %></h1>
    <div class="body-show">
      <p><%= @article.body %></p>
    </div>
    <div class="article-links">
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %>
    </div>
  </div>
</div>
